USE [master]
GO
/****** Object:  Database [mini_forum_db]    Script Date: 15/05/2026 21:59:42 ******/
CREATE DATABASE [mini_forum_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mini_forum_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\mini_forum_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mini_forum_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\mini_forum_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mini_forum_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mini_forum_db]
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 15/05/2026 21:59:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
	[role] [nvarchar](16) NOT NULL,
	[avatar] [nvarchar](100) NULL,
	[bio] [nvarchar](max) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_groups]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_user_permissions]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum_activitylog]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum_activitylog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[action] [nvarchar](32) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[user_id] [bigint] NULL,
	[details] [nvarchar](max) NOT NULL,
	[target_id] [int] NULL,
	[target_type] [nvarchar](32) NOT NULL,
	[target_user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum_comment]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum_comment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[status] [nvarchar](16) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[author_id] [bigint] NOT NULL,
	[thread_id] [bigint] NOT NULL,
	[image] [nvarchar](100) NULL,
	[parent_id] [bigint] NULL,
	[is_removed_by_mod] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum_commentvote]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum_commentvote](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[value] [smallint] NOT NULL,
	[comment_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum_report]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum_report](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[report_type] [nvarchar](16) NOT NULL,
	[object_id] [int] NOT NULL,
	[reason] [nvarchar](max) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[resolved] [bit] NOT NULL,
	[reporter_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum_thread]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum_thread](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[status] [nvarchar](16) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[author_id] [bigint] NOT NULL,
	[image] [nvarchar](100) NULL,
	[is_removed_by_mod] [bit] NOT NULL,
	[is_pinned] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum_threadvote]    Script Date: 15/05/2026 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum_threadvote](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[value] [smallint] NOT NULL,
	[thread_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auth_permission] ON 

INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (1, N'Can add log entry', 1, N'add_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (2, N'Can change log entry', 1, N'change_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (3, N'Can delete log entry', 1, N'delete_logentry')
SET IDENTITY_INSERT [dbo].[auth_permission] OFF
GO
SET IDENTITY_INSERT [dbo].[auth_user] ON 

INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined], [role], [avatar], [bio], [name]) VALUES (1, N'pbkdf2_sha256$600000$Ex6ApFdaHOleHR56wSB0XI$aNPt4zt4kb+cp6u01gn4vv1O5N3tCp61ItaHpwcIb38=', CAST(N'2026-05-15T07:33:17.7269140+00:00' AS DateTimeOffset), 0, N'moderator_test', N'Moderator', N'Test', N'moderator@test.com', 0, 1, CAST(N'2026-05-15T07:32:13.9124510+00:00' AS DateTimeOffset), N'moderator', N'', N'', N'')
INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined], [role], [avatar], [bio], [name]) VALUES (2, N'pbkdf2_sha256$600000$3MscvrJmXbYGsJh7M2GETk$BPktjQc2YzdX+nGmYis8193/8A8G1YS2xFKTPBi2G7U=', CAST(N'2026-05-15T09:42:43.2317620+00:00' AS DateTimeOffset), 0, N'guest_test', N'Guest', N'Test', N'guest@test.com', 0, 1, CAST(N'2026-05-15T07:32:14.5053150+00:00' AS DateTimeOffset), N'guest', N'', N'', N'')
INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined], [role], [avatar], [bio], [name]) VALUES (3, N'pbkdf2_sha256$600000$8ukAhkaSQw5zrSHYeXl0Jq$Dz7efRs0Uj6D1ZZm6HcbN1M14QiqyVWvpYHgIbMA9hQ=', CAST(N'2026-05-15T14:08:48.2912740+00:00' AS DateTimeOffset), 1, N'admin_test', N'Admin', N'Test', N'admin@test.com', 1, 1, CAST(N'2026-05-15T07:32:15.1118630+00:00' AS DateTimeOffset), N'admin', N'avatars/admin.png', N'', N'')
SET IDENTITY_INSERT [dbo].[auth_user] OFF
GO
SET IDENTITY_INSERT [dbo].[django_content_type] ON 

INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (1, N'admin', N'logentry')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (3, N'auth', N'group')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (2, N'auth', N'permission')
SET IDENTITY_INSERT [dbo].[django_content_type] OFF
GO
SET IDENTITY_INSERT [dbo].[django_migrations] ON 

INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (1, N'contenttypes', N'0001_initial', CAST(N'2026-05-15T07:30:37.1115960+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (2, N'contenttypes', N'0002_remove_content_type_name', CAST(N'2026-05-15T07:30:37.8131560+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (3, N'auth', N'0001_initial', CAST(N'2026-05-15T07:30:37.8475220+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[django_migrations] OFF
GO
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'1hmu6f4slulnaggu8q0llbops5iwbbi7', N'.eJxVjM0OgjAQBt9lz6YpP7UtR-88A9l-uxXUQELhZHx3Q8JBrzOTedPA-zYOe9F1mIQ6aujyyxLjqfMh5MHzfTFY5m2dkjkSc9pi-kX0dTvbv8HIZaSOIDVgY4DnawYqxJQBC5cF3mvwMTaqUifrnK0QwAFi69imHJLnlj5fJx85Ww:1wNpcP:PxE-FmH8uGFQ0jQVipAhFuYnCLs_hCB5HZYys9EMc-c', CAST(N'2026-05-29T10:18:09.2574480+00:00' AS DateTimeOffset))
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'7tgkey5qiqrbsaudhu51jwo4wuh8mkt8', N'.eJxVjLsOAiEUBf-F2hDeD0v7_QYCXK6sGkiW3cr474ZkC23PzJw3CfHYazhG2cIK5Eo0ufxuKeZnaRPAI7Z7p7m3fVsTnQo96aBLh_K6ne7fQY2jzloLY7OLFp3SHi2iBoHIitfKgeDGSOGBcYRUDCRpOBPayZhN5sCsIp8v5o83tw:1wNpnC:rflVNPszmejDXxWAFv9Ro25Bmq89WOUVTLCPmYXd-7o', CAST(N'2026-05-29T10:29:18.5127450+00:00' AS DateTimeOffset))
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'cq2510l4f51xvj51s4yun4z1of1jezfu', N'.eJxVjM0OgjAQBt9lz6YpP7UtR-88A9l-uxXUQELhZHx3Q8JBrzOTedPA-zYOe9F1mIQ6aujyyxLjqfMh5MHzfTFY5m2dkjkSc9pi-kX0dTvbv8HIZaSOIDVgY4DnawYqxJQBC5cF3mvwMTaqUifrnK0QwAFi69imHJLnlj5fJx85Ww:1wNtDc:OXqHgrRtYkRxpBlRoEy--mf7BF5jOeHAOl7BIcfwKtU', CAST(N'2026-05-29T14:08:48.2957960+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[forum_activitylog] ON 

INSERT [dbo].[forum_activitylog] ([id], [action], [created_at], [user_id], [details], [target_id], [target_type], [target_user_id]) VALUES (1, N'thread_create', CAST(N'2026-05-15T07:37:07.9049920+00:00' AS DateTimeOffset), 3, N'{}', 1, N'thread', NULL)
INSERT [dbo].[forum_activitylog] ([id], [action], [created_at], [user_id], [details], [target_id], [target_type], [target_user_id]) VALUES (2, N'thread_create', CAST(N'2026-05-15T07:37:07.9341700+00:00' AS DateTimeOffset), 3, N'{}', 1, N'thread', NULL)
INSERT [dbo].[forum_activitylog] ([id], [action], [created_at], [user_id], [details], [target_id], [target_type], [target_user_id]) VALUES (3, N'comment_create', CAST(N'2026-05-15T07:40:57.4168880+00:00' AS DateTimeOffset), 4, N'{}', 1, N'comment', NULL)
SET IDENTITY_INSERT [dbo].[forum_activitylog] OFF
GO
SET IDENTITY_INSERT [dbo].[forum_comment] ON 

INSERT [dbo].[forum_comment] ([id], [content], [status], [created_at], [updated_at], [author_id], [thread_id], [image], [parent_id], [is_removed_by_mod]) VALUES (1, N'', N'published', CAST(N'2026-05-15T07:40:57.4053520+00:00' AS DateTimeOffset), CAST(N'2026-05-15T12:30:58.7042160+00:00' AS DateTimeOffset), 4, 1, N'', NULL, 1)
INSERT [dbo].[forum_comment] ([id], [content], [status], [created_at], [updated_at], [author_id], [thread_id], [image], [parent_id], [is_removed_by_mod]) VALUES (2, N'Hy vọng năm nay sẽ bảo vệ được chức vô địch !', N'published', CAST(N'2026-05-15T07:45:08.6095600+00:00' AS DateTimeOffset), CAST(N'2026-05-15T07:45:08.6101050+00:00' AS DateTimeOffset), 4, 2, N'', NULL, 0)
INSERT [dbo].[forum_comment] ([id], [content], [status], [created_at], [updated_at], [author_id], [thread_id], [image], [parent_id], [is_removed_by_mod]) VALUES (3, N'Mõm ít thôi', N'deleted', CAST(N'2026-05-15T07:46:01.2930080+00:00' AS DateTimeOffset), CAST(N'2026-05-15T07:46:06.3743900+00:00' AS DateTimeOffset), 5, 2, N'', NULL, 0)
SET IDENTITY_INSERT [dbo].[forum_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[forum_commentvote] ON 

INSERT [dbo].[forum_commentvote] ([id], [value], [comment_id], [user_id]) VALUES (1, -1, 2, 3)
INSERT [dbo].[forum_commentvote] ([id], [value], [comment_id], [user_id]) VALUES (2, 1, 4, 3)
SET IDENTITY_INSERT [dbo].[forum_commentvote] OFF
GO
SET IDENTITY_INSERT [dbo].[forum_report] ON 

INSERT [dbo].[forum_report] ([id], [report_type], [object_id], [reason], [created_at], [resolved], [reporter_id]) VALUES (1, N'thread', 5, N'Bài viết 1 chiều, dắt mũi dư luận , dễ gây ra hiểu nhầm không đáng', CAST(N'2026-05-15T14:08:25.8250830+00:00' AS DateTimeOffset), 0, 4)
SET IDENTITY_INSERT [dbo].[forum_report] OFF
GO
SET IDENTITY_INSERT [dbo].[forum_thread] ON 

SET IDENTITY_INSERT [dbo].[forum_thread] OFF
GO
SET IDENTITY_INSERT [dbo].[forum_threadvote] ON 

INSERT [dbo].[forum_threadvote] ([id], [value], [thread_id], [user_id]) VALUES (3, 1, 1, 3)
INSERT [dbo].[forum_threadvote] ([id], [value], [thread_id], [user_id]) VALUES (4, 1, 2, 3)
SET IDENTITY_INSERT [dbo].[forum_threadvote] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_group_name_a6ea08ec_uniq]    Script Date: 15/05/2026 21:59:43 ******/
ALTER TABLE [dbo].[auth_group] ADD  CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_b120cbf9]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_group_id_b120cbf9] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_permission_id_0cd325b0_uniq]    Script Date: 15/05/2026 21:59:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_group_permissions_group_id_permission_id_0cd325b0_uniq] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC,
	[permission_id] ASC
)
WHERE ([group_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_permission_id_84c5c92e]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_permission_id_84c5c92e] ON [dbo].[auth_group_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_permission_content_type_id_2f476e4b]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [auth_permission_content_type_id_2f476e4b] ON [dbo].[auth_permission]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_permission_content_type_id_codename_01ab375a_uniq]    Script Date: 15/05/2026 21:59:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_permission_content_type_id_codename_01ab375a_uniq] ON [dbo].[auth_permission]
(
	[content_type_id] ASC,
	[codename] ASC
)
WHERE ([content_type_id] IS NOT NULL AND [codename] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__forum_us__F3DBC572C802C7F7]    Script Date: 15/05/2026 21:59:43 ******/
ALTER TABLE [dbo].[auth_user] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_user_groups_group_id_49b978b9]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_user_groups_group_id_49b978b9] ON [dbo].[auth_user_groups]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_user_groups_user_id_f09cfef0]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_user_groups_user_id_f09cfef0] ON [dbo].[auth_user_groups]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_user_groups_user_id_group_id_4681d81a_uniq]    Script Date: 15/05/2026 21:59:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [forum_user_groups_user_id_group_id_4681d81a_uniq] ON [dbo].[auth_user_groups]
(
	[user_id] ASC,
	[group_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [group_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_user_user_permissions_permission_id_3b36ab89]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_user_user_permissions_permission_id_3b36ab89] ON [dbo].[auth_user_user_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_user_user_permissions_user_id_71015ee5]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_user_user_permissions_user_id_71015ee5] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_user_user_permissions_user_id_permission_id_309ca17a_uniq]    Script Date: 15/05/2026 21:59:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [forum_user_user_permissions_user_id_permission_id_309ca17a_uniq] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC,
	[permission_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_content_type_id_c4bce8eb]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [django_admin_log_content_type_id_c4bce8eb] ON [dbo].[django_admin_log]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_user_id_c564eba6]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [django_admin_log_user_id_c564eba6] ON [dbo].[django_admin_log]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [django_content_type_app_label_model_76bd3d3b_uniq]    Script Date: 15/05/2026 21:59:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [django_content_type_app_label_model_76bd3d3b_uniq] ON [dbo].[django_content_type]
(
	[app_label] ASC,
	[model] ASC
)
WHERE ([app_label] IS NOT NULL AND [model] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_session_expire_date_a5c62663]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [django_session_expire_date_a5c62663] ON [dbo].[django_session]
(
	[expire_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_activ_created_ed5279_idx]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_activ_created_ed5279_idx] ON [dbo].[forum_activitylog]
(
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_activ_user_id_58de53_idx]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_activ_user_id_58de53_idx] ON [dbo].[forum_activitylog]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_activitylog_target_user_id_58bff08b]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_activitylog_target_user_id_58bff08b] ON [dbo].[forum_activitylog]
(
	[target_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_activitylog_user_id_0c3cb207]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_activitylog_user_id_0c3cb207] ON [dbo].[forum_activitylog]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_comment_author_id_9e60eecd]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_comment_author_id_9e60eecd] ON [dbo].[forum_comment]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_comment_parent_id_4c29b530]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_comment_parent_id_4c29b530] ON [dbo].[forum_comment]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_comment_thread_id_9cc3073e]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_comment_thread_id_9cc3073e] ON [dbo].[forum_comment]
(
	[thread_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_commentvote_comment_id_1d2be864]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_commentvote_comment_id_1d2be864] ON [dbo].[forum_commentvote]
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_commentvote_user_id_3021e4fa]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_commentvote_user_id_3021e4fa] ON [dbo].[forum_commentvote]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_commentvote_user_id_comment_id_0dcfac16_uniq]    Script Date: 15/05/2026 21:59:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [forum_commentvote_user_id_comment_id_0dcfac16_uniq] ON [dbo].[forum_commentvote]
(
	[user_id] ASC,
	[comment_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [comment_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_report_reporter_id_f7e3028b]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_report_reporter_id_f7e3028b] ON [dbo].[forum_report]
(
	[reporter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_thread_author_id_c72b456f]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_thread_author_id_c72b456f] ON [dbo].[forum_thread]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_threadvote_thread_id_de13b4eb]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_threadvote_thread_id_de13b4eb] ON [dbo].[forum_threadvote]
(
	[thread_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_threadvote_user_id_dd213305]    Script Date: 15/05/2026 21:59:43 ******/
CREATE NONCLUSTERED INDEX [forum_threadvote_user_id_dd213305] ON [dbo].[forum_threadvote]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [forum_threadvote_user_id_thread_id_68db97ad_uniq]    Script Date: 15/05/2026 21:59:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [forum_threadvote_user_id_thread_id_68db97ad_uniq] ON [dbo].[forum_threadvote]
(
	[user_id] ASC,
	[thread_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [thread_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH NOCHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH NOCHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH NOCHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH NOCHECK ADD  CONSTRAINT [forum_user_groups_group_id_49b978b9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [forum_user_groups_group_id_49b978b9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH NOCHECK ADD  CONSTRAINT [forum_user_groups_user_id_f09cfef0_fk_forum_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [forum_user_groups_user_id_f09cfef0_fk_forum_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH NOCHECK ADD  CONSTRAINT [forum_user_user_permissions_permission_id_3b36ab89_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [forum_user_user_permissions_permission_id_3b36ab89_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH NOCHECK ADD  CONSTRAINT [forum_user_user_permissions_user_id_71015ee5_fk_forum_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [forum_user_user_permissions_user_id_71015ee5_fk_forum_user_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH NOCHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH NOCHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_forum_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_forum_user_id]
GO
ALTER TABLE [dbo].[forum_activitylog]  WITH NOCHECK ADD  CONSTRAINT [forum_activitylog_target_user_id_58bff08b_fk_forum_user_id] FOREIGN KEY([target_user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[forum_activitylog] CHECK CONSTRAINT [forum_activitylog_target_user_id_58bff08b_fk_forum_user_id]
GO
ALTER TABLE [dbo].[forum_activitylog]  WITH NOCHECK ADD  CONSTRAINT [forum_activitylog_user_id_0c3cb207_fk_forum_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[forum_activitylog] CHECK CONSTRAINT [forum_activitylog_user_id_0c3cb207_fk_forum_user_id]
GO
ALTER TABLE [dbo].[forum_comment]  WITH NOCHECK ADD  CONSTRAINT [forum_comment_author_id_9e60eecd_fk_forum_user_id] FOREIGN KEY([author_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[forum_comment] CHECK CONSTRAINT [forum_comment_author_id_9e60eecd_fk_forum_user_id]
GO
ALTER TABLE [dbo].[forum_comment]  WITH NOCHECK ADD  CONSTRAINT [forum_comment_parent_id_4c29b530_fk_forum_comment_id] FOREIGN KEY([parent_id])
REFERENCES [dbo].[forum_comment] ([id])
GO
ALTER TABLE [dbo].[forum_comment] CHECK CONSTRAINT [forum_comment_parent_id_4c29b530_fk_forum_comment_id]
GO
ALTER TABLE [dbo].[forum_comment]  WITH NOCHECK ADD  CONSTRAINT [forum_comment_thread_id_9cc3073e_fk_forum_thread_id] FOREIGN KEY([thread_id])
REFERENCES [dbo].[forum_thread] ([id])
GO
ALTER TABLE [dbo].[forum_comment] CHECK CONSTRAINT [forum_comment_thread_id_9cc3073e_fk_forum_thread_id]
GO
ALTER TABLE [dbo].[forum_commentvote]  WITH NOCHECK ADD  CONSTRAINT [forum_commentvote_comment_id_1d2be864_fk_forum_comment_id] FOREIGN KEY([comment_id])
REFERENCES [dbo].[forum_comment] ([id])
GO
ALTER TABLE [dbo].[forum_commentvote] CHECK CONSTRAINT [forum_commentvote_comment_id_1d2be864_fk_forum_comment_id]
GO
ALTER TABLE [dbo].[forum_commentvote]  WITH NOCHECK ADD  CONSTRAINT [forum_commentvote_user_id_3021e4fa_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[forum_commentvote] CHECK CONSTRAINT [forum_commentvote_user_id_3021e4fa_fk_auth_user_id]
GO
ALTER TABLE [dbo].[forum_report]  WITH NOCHECK ADD  CONSTRAINT [forum_report_reporter_id_f7e3028b_fk_forum_user_id] FOREIGN KEY([reporter_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[forum_report] CHECK CONSTRAINT [forum_report_reporter_id_f7e3028b_fk_forum_user_id]
GO
ALTER TABLE [dbo].[forum_thread]  WITH NOCHECK ADD  CONSTRAINT [forum_thread_author_id_c72b456f_fk_forum_user_id] FOREIGN KEY([author_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[forum_thread] CHECK CONSTRAINT [forum_thread_author_id_c72b456f_fk_forum_user_id]
GO
ALTER TABLE [dbo].[forum_threadvote]  WITH NOCHECK ADD  CONSTRAINT [forum_threadvote_thread_id_de13b4eb_fk_forum_thread_id] FOREIGN KEY([thread_id])
REFERENCES [dbo].[forum_thread] ([id])
GO
ALTER TABLE [dbo].[forum_threadvote] CHECK CONSTRAINT [forum_threadvote_thread_id_de13b4eb_fk_forum_thread_id]
GO
ALTER TABLE [dbo].[forum_threadvote]  WITH NOCHECK ADD  CONSTRAINT [forum_threadvote_user_id_dd213305_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[forum_threadvote] CHECK CONSTRAINT [forum_threadvote_user_id_dd213305_fk_auth_user_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH NOCHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
ALTER TABLE [dbo].[forum_activitylog]  WITH NOCHECK ADD CHECK  ((isjson([details])=(1)))
GO
ALTER TABLE [dbo].[forum_activitylog]  WITH NOCHECK ADD CHECK  (([target_id]>=(0)))
GO
ALTER TABLE [dbo].[forum_report]  WITH NOCHECK ADD  CONSTRAINT [forum_report_object_id_611270ea_check] CHECK  (([object_id]>=(0)))
GO
ALTER TABLE [dbo].[forum_report] CHECK CONSTRAINT [forum_report_object_id_611270ea_check]
GO
USE [master]
GO
